{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">
{#<p>{{ dump(cemeteries) }}</p>#}
                    <div align="right"><a href="{{ path('app_cemetery_add') }}" title="Cemeteries" class="btn btn-primary">Add Cemetery</a></div>

                    <h2>Cemeteries:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Cemetery ID</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Organization</th>
                            <th scope="col">Calendar</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for cemetery in cemeteries %}
                        <tr>
                            <td>{{ (cemetery['id']) }}</td>
                            <td>{{ (cemetery['reference']) }}</td>
                            <td>{{ (cemetery['organization']) }}</td>
                            {% for organization in organizations %}
                                {% if organization['@id'] == cemetery['organization'] %}
                                    <td>{{ (organization['name']) }}</td>
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                            {% for calendar in calendars %}
                                {% if calendar['@id'] == cemetery['calendar'] %}
                                    <td>{{ (calendar['@id']) }}</td>
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
