{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">

                    <div align="right"><a href="{{ path('app_organization_addorganization') }}" title="Organizations" class="btn btn-primary">Add Organization</a></div>

                    <h2>Organizations:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Organization ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for organization in organizations['hydra:member'] %}
                        <tr>
                            <td>{{ (organization["id"]) }}</td>
                            <td>{{ (organization["name"]) }}</td>
                            <td>{{ (organization["description"]) }}</td>
                            <td>{{ (organization["dateCreated"]) }}</td>
                            <td>{{ (organization["dateModified"]) }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
