{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">

                    <div align="right"><a href="{{ path('app_gravetype_add') }}" title="Gravetype" class="btn btn-primary">Add GraveType</a></div>

                    <h2>Graftypes:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Grave Type ID</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for gravetype in gravetypes %}
                        <tr>
                            <td>{{ (gravetype["id"]) }}</td>
                            <td>{{ (gravetype["reference"]) }}</td>
                            <td>{{ (gravetype["description"]) }}</td>
                            <td>{{ (gravetype["dateCreated"]) }}</td>
                            <td>{{ (gravetype["dateModified"]) }}</td>
                        </tr>
                       {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
