{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-auto col-sm-auto">

            <div class="content-background" >
                <div class="content">

                    <div align="right"><a href="{{ path('app_agenda_add') }}" title="Events" class="btn btn-primary">Add Event</a></div>

                    <h2>Events:</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Events ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Calendar</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for event in events %}
                        <tr>
                            <td>{{ (event["id"]) }}</td>
                            <td>{{ (event["name"]) }}</td>
                            <td>{{ (event["description"]) }}</td>
                            <td>{{ (event["dateCreated"]) }}</td>
                            <td>{{ (event["dateModified"]) }}</td>
                            <td>{{ (event["startDate"]) }}</td>
                            <td>{{ (event["endDate"]) }}</td>
                            {% for calendar in calendars %}
                                {% if calendar['@id'] == event['calendar']['@id'] %}
                                    <td>{{ (calendar['name']) }}</td>
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                       {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
